.App {
  text-align: center;
}

.buttonContainer {
  display: 'flex';
  justify-content: 'flex-end';
  padding-top: 40px;
}

.buttonContainer button {
  margin: 10px;
  margin-left: 20px;
}

.errorMessage {
  margin: 20px;
  padding: 15px 25px;
  border: 1px solid #740c0c;
  color: #740c0c;
  background-color: #ff9d9d;
}
